html, body, #root, #yapper-wrapper, main {
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
}

#root {
  background: #3C3C3B;
}

* {
  outline: none !important;
}

h1, h2, h3, h4, h5 {
  
}

a, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

form {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section ul:not(.no-margin) li {
  margin: 1rem 0;
}

section ul:not(.no-margin) li:first-child {
  margin-top: 0;
}

section ul:not(.no-margin) li:last-child {
  margin-bottom: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.yapper-btn-primary {
  background: transparent;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.yapper-btn-primary:hover {
  background: #000;
  color: #fff;
}

.yapper-btn-secondary {
  background: transparent;
}

#yapper-wrapper {
  background: #3C3C3B;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#yapper-wrapper > section.no-auth {
  width: 50%;
}

#yapper-join-login > div {
  max-width: 600px;
  margin: 0 auto;
}

#yapper-join-login a {
  display: block;
  margin: 15px 0;
}

/* start: timeline styles */

/* end: timeline styles */
