html, body {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
}

.yapper-btn-primary {
  background: #D62828;
}

.yapper-btn-secondary {
  background: transparent;
}

#yapper-wrapper {
  display: flex;
  justify-content: space-between;
}

#yapper-wrapper > section {
  width: 50%;
}

#yapper-features {
  background: #FCBF49;
}

#yapper-join-login {
  background: #3C3C3B;
  position: relative;
}

header {
  position: absolute;
  top: 50%;
  margin: -100px auto 0;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 650px;
}

/*
#1446AO
#EBEBD3
#3C3C3B
#F5D547
#DB3069
#E4572E
#D62828 - amaranth red
#FCBF49 - max yellow red
#EAE2B7 - dutch white
*/

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
